{% extends 'base.html' %}
{% block title %}
  Connexion
{% endblock %}

{% block page_title %}
  <h1 class="text-2xl text-center my-6">CONNEXION</h1>
{% endblock %}

{% block content %}
  <div class="max-w-md mx-auto py-20 text-center">
    <form method="post">
      {% csrf_token %}

      <div class="text-left mb-8">
        <label class="mb-1 font-semibold">{{ form.username.label_tag }}</label>
        {{ form.username }}
      </div>

      <div class="text-left mb-10">
        <label class="mb-1 font-semibold">{{ form.password.label_tag }}</label>
        {{ form.password }}
      </div>

      {% if form.non_field_errors %}
        <div class="space-y-2" id="message-erreur">
          {% for error in form.non_field_errors %}
            <div class="p-3 text-sm border-l-3 bg-red-50 border-sg-red text-sg-red">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% if bloque_jusqu_a_timestamp %}
        <p id="decompte" class="p-3 text-sm border-l-3 bg-red-50 border-sg-red text-sg-red"></p>
      {% endif %}

      <div class="flex justify-center gap-4 mt-6">
        <a href="/comptes/connexion" class="px-4 py-2 bg-sg-black text-white text-sm hover:opacity-80">ANNULER</a>
        <button type="submit" class="px-4 py-2 bg-sg-red text-white text-sm hover:opacity-80">VALIDER</button>
      </div>
    </form>
  </div>

  {% if bloque_jusqu_a_timestamp %}
    <script>
      const finBlocage = parseFloat('{{ bloque_jusqu_a_timestamp }}') * 1000
      const form = document.querySelector('form')
      const champs = form.querySelectorAll('a, input, button')
      const msg = document.getElementById('message-erreur')
      champs.forEach((el) => {
        el.disabled = true
      })
      const interval = setInterval(() => {
        let secondes = Math.ceil((finBlocage - Date.now()) / 1000)
        if (msg) {
          msg.style.display = 'none'
          document.getElementById('decompte').innerHTML = `Compte temporairement bloqué. <br>Réessayez dans ${secondes} secondes.`
        }
        if (secondes <= 0) {
          clearInterval(interval)
          champs.forEach((el) => {
            el.disabled = false
            document.getElementById('decompte').style.display = 'none'
          })
        }
      }, 1000)
    </script>
  {% endif %}

  {% if user.est_bloque %}
    <script>
      const form = document.querySelector('form')
      const champs = form.querySelectorAll('a, input, button')
      champs.forEach((el) => {
        el.disabled = true
      })
    </script>
  {% endif %}
{% endblock %}
