{% extends 'base.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block nav %}
  <nav class="mt-3 mx-10 mb-6 flex justify-between">
    <div class="flex">
      <a href="{% url 'dashboard' %}" class="px-4 py-2 text-sm text-black {% if '/dashboard/' in request.path or '/demande/' in request.path %} border-b-2 border-b-sg-red {% endif %} hover:text-white hover:bg-sg-red">MES DEMANDES</a>
      <a href="{% url 'catalogue' %}" class="px-4 py-2 text-sm text-black {% if '/catalogue/' in request.path %} border-b-2 border-b-sg-red {% endif %} hover:text-white hover:bg-sg-red">CATALOGUE</a>

      {% if user.role == 'RESP_DEPT' %}
        <a href="{% url 'demandes_a_examiner' %}" class="px-4 py-2 text-sm text-black {% if '/demandes/' in request.path %} border-b-2 border-b-sg-red {% endif %} hover:text-white hover:bg-sg-red">DEMANDES A EXAMINER</a>
        <a href="#" class="px-4 py-2 text-sm text-black hover:text-white hover:bg-sg-red">HISTORIQUE</a> {% comment %}Liste des demandes et leur état (validée/rejetée){% endcomment %}
      {% endif %}

      {% if user.role == 'GEST_DGMLA' %}
        <a href="#" class="px-4 py-2 text-sm text-black hover:text-white hover:bg-sg-red">DEMANDES TRANSMISES</a>
      {% endif %}

      {% if user.role == 'RESP_DGMLA' %}
        <a href="#" class="px-4 py-2 text-sm text-black hover:text-white hover:bg-sg-red">DEMANDES PREPAREES</a>
        <a href="#" class="px-4 py-2 text-sm text-black hover:text-white hover:bg-sg-red">STATISTIQUES</a>
      {% endif %}
    </div>

    <button type="button" id="bouton-deconnexion" class="px-4 py-2 mr-0 text-sm text-black hover:text-white hover:bg-black">DECONNEXION</button>
  </nav>
{% endblock %}

{% block page_title %}
  <h1 class="text-2xl text-center mt-2 mb-4">MES DEMANDES</h1>
{% endblock %}

{% comment %} {{ message }} {% endcomment %}

{% block content %}
  <div class="max-w-4xl mx-auto py-10">
    <div class="flex justify-between">
      <div>
        <p class="text-gray-500">Nombre de demandes :
          <span class="font-semibold text-black">{{ demandes|length }}</span>
        </p>      
      </div>
      <div class="flex justify-end mb-4">
        <a href="{% url 'creer_demande' %}" class="px-4 py-2 bg-sg-red text-white text-sm hover:opacity-80">+ Nouvelle demande</a>
      </div>
    </div>
      
    <form method="get">
      <div class="mb-6">
        <label class="font-bold">Statut</label>
        <select name="statut" onchange="this.form.submit()" class="border rounded-none focus:outline-0">
          <option value="">Tous</option>
          {% for statut in statuts %}
            <option value="{{ statut }}"{% if statut == statut_selectionne %}selected{% endif %}>
              {{ statut }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>

    <table class="text-center w-full">
      <thead class="sticky top-0 overflow-y-auto bg-white">
        <tr class="border-b">
          <th class="pb-3">Code</th>
          <th class="pb-3">Date</th>
          <th class="pb-3 w-20">Nombre d'articles</th>
          <th class="pb-3">Statut</th>
          <th class="pb-3 w-30">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if not demandes %}
          <tr class="h-6">
            <td colspan="5" class="pt-3">Vous n'avez soumis aucune demande pour le moment.</td>
          </tr>
        {% endif %}

        {% for demande in demandes %}
          <tr class="h-12 even:bg-sg-gray-light">
            <td class="font-bold">{{ demande }}</td>
            <td>{{ demande.date_demande }}</td>
            <td class="text-right">{{ demande.lignedemande_set.all|length }}</td>
            <td>{{ demande.statut }}</td>

            {% comment %}COLONNE ACTIONS{% endcomment %}

            <td class="inline-flex pt-4 gap-2">
              {% if demande.agent != request.user or demande.statut != 'EN_ATTENTE' %}
                <button type="button" class="text-sg-gray hover:text-sg-gray"><i data-lucide="pencil" class="w-4 h-4"></i></button>
              {% else %}
                <a href="{% url 'modifier_demande' demande.id %}" class="hover:text-sg-red mr-4"><i data-lucide="pencil" class="w-4 h-4"></i></a>             
              {% endif %}
                <a href="{% url 'consulter_demande' demande.id %}" class="hover:text-sg-red"><i data-lucide="eye" class="w-4 h-4"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
