{% extends 'workflow/dashboard.html' %}

{% block page_title %}
  <h1 class="text-2xl text-center mt-2 mb-10">DEMANDE</h1>
{% endblock %}

{% block content %}
  <div class="max-w-4xl mx-auto">
    <table class="text-center w-full overflow-y-auto">
      <thead>
        <tr class="border-b overflow-y-auto">
          <th class="pb-3 pr-4 w-6">N°</th>
          <th class="pb-3 pr-4 w-60">Catégorie</th>
          <th class="pb-3 pr-4 w-68">Article</th>
          <th class="pb-3 pr-4 w-22">Quantité</th>
          <th class="pb-3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr class="">
          <td class="pt-2 pb-8 w-6"></td>
          <td class="pt-2 pb-8 w-60 px-4"></td>
          <td class="pt-2 pb-8 w-68 px-4"></td>
          <td class="pt-2 pb-8 w-22 px-4">
          </td>
          <td class="pt-2 pb-8 px-4">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
